
@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

.index.inner{
    position:relative;
}

#animatedBanner{
    position:fixed;
    top: 10;
}

#main{
    position:relative
}